@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
/* font-family: 'Forum', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
/* font-family: 'Jost', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

